$main_border_radius:5px;

// font size
$font_size_min:16px;
$font_size_mid:18px;
$font_size_max:20px;
$font_size_huge:22px;


// colors
$main_color: rgb(0, 195, 0);
$main_hover_color: rgb(0, 161, 0);
$content_color: rgb(170, 170, 170);
$theme_color: rgb(51, 51, 51);
$white_color: white;

// time animation
$fast_time:0.3s;
$mid_time:0.5s;
$slow_time:1s;